doctype html
html(lang='en')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='./favicon.ico')
    title Sticky Footer Navbar Template for Bootstrap
    //
       Bootstrap core CSS
    link(href='./css/bootstrap.min.css', rel='stylesheet')
    //
       Custom styles for this template
    link(href='./css/sticky-footer-navbar.css', rel='stylesheet')
    //
       HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='./js/html5shiv.js')
      script(src='./js/respond.min.js')
    script(src='./js/jquery.min.js')
    script(src='./js/bootstrap.min.js')
    //
       Query builder
    link(rel='stylesheet', type='text/css', href='./css/jcsdl.min.css')
    script(type='text/javascript', src='./js/jcsdl.definition.js')
    script(type='text/javascript', src='./js/jcsdl.min.js')
    link(rel='stylesheet', type='text/css', href='./css/themed/over.css')

    //
        App
    script(type='text/javascript', src='./js/app.js')
    link(rel='stylesheet', type='text/css', href='./css/app.css')
  body
    block content